<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TTdatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TTdatabase.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <!-- WCF -->
    <!--
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="DualBinding">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TTSolverServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="TTSolverServiceBehavior" name="TTService.TTServ">
        <endpoint binding="wsDualHttpBinding" bindingConfiguration="DualBinding" 
                  name="DualEndpoint_ITTSolverSvc" contract="TTService.ITTSolverSvc" listenUriMode="Explicit"/>
        <endpoint address="mex" binding="mexHttpBinding" name="MexEndpoint" contract="IMetadataExchange" listenUriMode="Explicit"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Service.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  -->
    <client>
      <endpoint address="http://localhost:63756/Service.svc/Service.svc"
        binding="wsDualHttpBinding" bindingConfiguration="DualEndpoint_ITTSolverSvc"
        contract="TTSolver.ITTSolverSvc" name="DualEndpoint_ITTSolverSvc" />
      <endpoint address="http://localhost:63756/ServiceTT.svc/ServiceTT.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicEndpoint_ITTServ"
        contract="TTSvc.ITTServ" name="BasicEndpoint_ITTServ" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicEndpoint_ITTServ" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="DualBinding">
          <security mode="None" />
        </binding>
        <binding name="DualEndpoint_ITTSolverSvc">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="TTService.TTServ">
        <endpoint address="ServiceTT.svc" binding="basicHttpBinding"
          name="BasicEndpoint_ITTServ" contract="TTService.ITTServ" listenUriMode="Explicit" />
        <endpoint address="ServiceTT.svc/mex" binding="mexHttpBinding"
          name="MexEndpoint" contract="IMetadataExchange" listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:63756/" />
          </baseAddresses>
        </host>
      </service>
      <service name="TTService.TTSolverSvc">
        <endpoint address="Service.svc" binding="wsDualHttpBinding" bindingConfiguration="DualBinding"
          name="DualEndpoint_ITTSolverSvc" contract="TTService.ITTSolverSvc"
          listenUriMode="Explicit" />
        <endpoint address="Service.svc/mex" binding="mexHttpBinding"
          name="MexEndpoint" contract="IMetadataExchange" listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:63756/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <rewrite>
        <rules>
            <rule name="RewriteASPX">
                <match url="(.*)" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="{R:1}.aspx" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>