<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITTServ" />
                <binding name="BasicHttpBinding_ITTSolverSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63756/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITTServ" contract="TTSvcClient.ITTServ"
                name="BasicHttpBinding_ITTServ" />
            <endpoint address="http://localhost:63756/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITTSolverSvc" contract="TTSvcClient.ITTSolverSvc"
                name="BasicHttpBinding_ITTSolverSvc" />
        </client>
    </system.serviceModel>
</configuration>