<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicEndpoint_ITTServ" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63756/ServiceTT.svc/ServiceTT.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicEndpoint_ITTServ"
                contract="TTSvc.ITTServ" name="BasicEndpoint_ITTServ" />
        </client>
    </system.serviceModel>
</configuration>