.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  margin-top: 100px;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
.modal-login  .form-group {
  position: relative;
}
.modal-login i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}
.modal-login .form-control {
  padding-left: 40px;
}
.modal-login .form-control:focus {
  border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.modal-login .hint-text {
  text-align: center;
  padding-top: 10px;
}
.modal-login .close {
      position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login .btn {
  background: #00ce81;
  border: none;
  line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #00bf78;
}
.modal-login .modal-footer {
  background: rgba(178,178,178,0.5);
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
  justify-content: center;
}

.modal-footer.password{
  margin-bottom: 0px;
}
.modal-login .modal-footer a {
  color: #999;
  font-weight: bold;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.error{
    text-align: center;
    color: orangered;
    font-weight: bold;
}

#loginBody {
    min-height: 100%;
    height: auto !important;
    /* This line and the next line are not necessary unless you need IE6 support */
    margin: 0 auto 100px;
    text-align: center;
}

#login, #register {
    display: inline-block;
    margin: 5%;
}
.modal-content.login{
    height: 370px;
}

#Button1{
    margin-top: 30px;
}